  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

  <title>Login</title>

  <link rel="icon" type="image/png" sizes="32x32" href="public/images/trizzle-logo-blue.svg">
  <script src="../../public/js/main.js"></script>
</head>
<body class="antialiased bg-body text-body font-body">
  <div class="">
    <section class="relative pt-24 lg:py-44"><div class="hidden lg:block absolute top-0 right-0 h-full w-1/2">
      <img class="absolute top-0 left-0 h-full w-full object-cover" src="../../public/images/background-blue-gradient.png" alt=""><div class="relative p-20">
      <a class="inline-block mb-56" href="#">
        
      </a>
      <div class="max-w-xl">
        <p class="text-3xl font-semibold text-white leading-10 mb-8">We offer a high end API which auto generates questions and answers for test!</p>
        <div class="flex items-center mb-12">
          <img class="w-14 h-14 mr-4 rounded-full border border-blue-500" src="../../public/images/avatar-men-2.png" alt=""><div>
          <h4 class="text-lg leading-6 font-semibold text-white">John Doe</h4>
          <span class="text-xs font-semibold text-gray-100">Front-End Developer</span>
          </div>
        </div>
    
      </div>
      </div>
      </div>
      <div class="container px-4 mx-auto">
        <div class="lg:w-1/2">
          <div class="relative max-w-xs lg:max-w-md mx-auto text-center">
            <a class="inline-block mx-auto mb-10" href="#">
              <img class="block" src="../../public/images/trizzle-logo-blue.svg" alt=""></a>
            <h2 class="text-2xl text-gray-100 font-semibold mb-2">Log in to your account</h2>
            <p class="text-gray-300 font-medium mb-10">Welcome back! Please enter your details.</p>
            <form action="">
              <div class="relative w-full h-14 py-4 px-3 mb-8 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-600">Email</span>
                <input class="block w-full outline-none bg-transparent text-sm text-gray-100 font-medium" id="signInInput4-1" type="email">
    </div>
              <div class="relative w-full h-14 py-4 px-3 mb-6 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-600">Password</span>
                <input class="block w-full outline-none bg-transparent text-sm text-gray-100 font-medium" id="signInInput4-2" type="password">
    </div>
              <div class="flex flex-wrap items-center justify-between mb-6">
                <div class="flex items-center mb-4 sm:mb-0">
    
    
                </div>
                <div class="w-full sm:w-auto"></div>
              </div>
              <button class="block w-full py-4 mb-4 leading-6 text-white font-semibold bg-blue-500 hover:bg-blue-600 rounded-lg transition duration-200">Sign In</button>
    
              <p class="font-medium">
                <span class="text-gray-300">Don’t have an account?</span>
                <a class="inline-block text-blue-500 hover:underline" href="#">Subscribe now!</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="lg:hidden relative mt-16">
        <img class="absolute top-0 left-0 h-full w-full object-cover" src="../../public/images/background-blue-gradient.png" alt=""><div class="container px-4 mx-auto">
        <div class="relative max-w-xs mx-auto py-12">
          <a class="inline-block mb-24" href="#">
            <img src="../../public/images/trizzle-white-logo.svg" alt=""></a>
          <div class="max-w-xl">
            <p class="text-xl font-semibold text-white leading-10 mb-8">Trizzle is easy to use and has a lot of great features that make it a valuable tool for any developer.</p>
            <div class="flex items-center mb-12">
              <img class="w-14 h-14 mr-4 rounded-full border border-blue-500" src="../../public/images/avatar-men-2.png" alt=""><div>
              <h4 class="text-lg leading-6 font-semibold text-white">John Doe</h4>
              <span class="text-xs font-semibold text-gray-100">Front-End Developer</span>
              </div>
            </div>
            <div>
    <a class="inline-block w-2 h-2 mr-2 rounded-full bg-blue-50" href="#"></a><a class="inline-block w-2 h-2 mr-2 rounded-full bg-blue-400" href="#"></a><a class="inline-block w-2 h-2 mr-2 rounded-full bg-blue-400" href="#"></a><a class="inline-block w-2 h-2 mr-2 rounded-full bg-blue-400" href="#"></a><a class="inline-block w-2 h-2 rounded-full bg-blue-400" href="#"></a>
    </div>
          </div>
        </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="../../public/js/charts-demo.js"></script>
</body>