<title>Payment-Method</title>
</head>
<body class="antialiased bg-body text-body font-body">
<div class="">
            
  <section class="py-3"><div class="container px-4 mx-auto pt-10">
    <form action="/users/payment" method="POST">
      <div class="p-8 bg-gray-500 rounded-xl">
        <div class="flex flex-wrap items-center justify-between -mx-4 mb-8 pb-6 border-b border-gray-400 border-opacity-20">
          <div class="w-full sm:w-auto px-4 mb-8 sm:mb-0">
            <h4 class="text-2xl font-bold tracking-wide text-white mb-1">Payment method</h4>
            <p class="text-sm text-gray-300">Update your billing details and address</p>
          </div>
          <div class="w-full sm:w-auto px-4">
            <div><button class="inline-block py-2 px-4 text-xs text-center font-semibold leading-normal text-blue-50 bg-blue-500 hover:bg-blue-600 rounded-lg transition duration-200" href="#">Continue</button></div>
          </div>
        </div>
          <div class="flex flex-wrap items-start -mx-4 pb-8 mb-8 border-b border-gray-400 border-opacity-20">
            <div class="w-full sm:w-1/3 px-4 mb-8 sm:mb-0">
              <span class="block mt-5 text-sm font-medium text-gray-100">Card details</span>
            </div>
            <div class="w-full sm:w-2/3 px-4">
              <div class="max-w-xl">
                <div class="flex flex-wrap -mx-4 -mb-10">
                  <div class="w-full md:w-2/3 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Name on card</span>
                      <input type="text" name="name_on_card" id="name_on_card" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="John Doe"></div>
                  </div>
                  <div class="w-full md:w-1/3 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Expiry</span>
                      <input type="text" name="expiry_date" id="expiry_date" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="06/24"></div>
                  </div>
                  <div class="w-full md:w-2/3 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Card Number</span>
                      <input type="text" name="card_number" id="card_number" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="4242 24424 42424 24"></div>
                  </div>
                  <div class="w-full md:w-1/3 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">CVV</span>
                      <input type="text" name="cvv" id="cvv" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="***"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap items-center -mx-4 pb-8 mb-8 border-b border-gray-400 border-opacity-20">
            <div class="w-full sm:w-1/3 px-4 mb-8 sm:mb-0">
              <span class="text-sm font-medium text-gray-100">Email address</span>
            </div>
            <div class="w-full sm:w-2/3 px-4">
              <div class="max-w-xl">
                <input name="email" id="email" class="block py-4 px-3 w-full text-sm text-gray-50 placeholder-gray-50 font-medium outline-none bg-transparent border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg" type="text" placeholder="johndoe@trizzle.ui"></div>
            </div>
          </div>
          <div class="flex flex-wrap items-start -mx-4">
            <div class="w-full sm:w-1/3 px-4 mb-8 sm:mb-0">
              <span class="block mt-5 text-sm font-medium text-gray-100">Address</span>
            </div>
            <div class="w-full sm:w-2/3 px-4">
              <div class="max-w-xl">
                <div class="flex flex-wrap -mx-4 -mb-10">
                  <div class="w-full md:w-1/2 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Country</span>
                      <input type="text" name="country" id="country" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="United States"></div>
                  </div>
                  <div class="w-full md:w-1/2 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">City</span>
                      <input type="text" name="city" id="city" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="City"></div>
                  </div>
                  <div class="w-full md:w-1/2 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">State/Province</span>
                      <input type="text" name="state" id="state" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="State"></div>
                  </div>
                  <div class="w-full md:w-1/2 px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Zip/Postal Code</span>
                      <input type="text" name="zip" id="zip" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="550750"></div>
                  </div>
                  <div class="w-full px-4 mb-10">
                    <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                      <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Street address</span>
                      <input type="text" name="street_address" id="street_address" class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" placeholder="123 Main St"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    </form>
  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="../../public/js/charts-demo.js"></script>
</body>