    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="shuffle-for-tailwind.png">
    <script src="js/main.js"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">
                
      <section class="py-3"><div class="container px-4 mx-auto pt-10">
          <div class="p-8 bg-gray-500 rounded-xl">
            <div class="flex flex-wrap items-center justify-between -mx-4 mb-8 pb-6 border-b border-gray-400 border-opacity-20">
              <div class="w-full sm:w-auto px-4 mb-8 sm:mb-0">
                <h4 class="text-2xl font-bold tracking-wide text-white mb-1">Payment method</h4>
                <p class="text-sm text-gray-300">Update your billing details and address</p>
              </div>
              <div class="w-full sm:w-auto px-4">
                <div><a class="inline-block py-2 px-4 mr-3 text-xs text-center font-semibold leading-normal text-gray-400 bg-gray-600 hover:bg-gray-700 rounded-lg transition duration-200" href="#">Cancel</a><a class="inline-block py-2 px-4 text-xs text-center font-semibold leading-normal text-blue-50 bg-blue-500 hover:bg-blue-600 rounded-lg transition duration-200" href="#">Continue</a></div>
              </div>
            </div>
            <form action="">
              <div class="flex flex-wrap items-start -mx-4 pb-8 mb-8 border-b border-gray-400 border-opacity-20">
                <div class="w-full sm:w-1/3 px-4 mb-8 sm:mb-0">
                  <span class="block mt-5 text-sm font-medium text-gray-100">Card details</span>
                </div>
                <div class="w-full sm:w-2/3 px-4">
                  <div class="max-w-xl">
                    <div class="flex flex-wrap -mx-4 -mb-10">
                      <div class="w-full md:w-2/3 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Name on card</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="accountInput1-1" type="text" placeholder="John Doe"></div>
                      </div>
                      <div class="w-full md:w-1/3 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Expiry</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="accountInput1-2" type="text" placeholder="06/24"></div>
                      </div>
                      <div class="w-full md:w-2/3 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Card Number</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="accountInput1-3" type="email" placeholder="4242 24424 42424 24"></div>
                      </div>
                      <div class="w-full md:w-1/3 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">CVV</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="accountInput1-4" type="text" placeholder="***"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-wrap items-center -mx-4 pb-8 mb-8 border-b border-gray-400 border-opacity-20">
                <div class="w-full sm:w-1/3 px-4 mb-8 sm:mb-0">
                  <span class="text-sm font-medium text-gray-100">Email address</span>
                </div>
                <div class="w-full sm:w-2/3 px-4">
                  <div class="max-w-xl">
                    <input class="block py-4 px-3 w-full text-sm text-gray-50 placeholder-gray-50 font-medium outline-none bg-transparent border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg" id="formInput1-3" type="text" placeholder="johndoe@trizzle.ui"></div>
                </div>
              </div>
              <div class="flex flex-wrap items-start -mx-4">
                <div class="w-full sm:w-1/3 px-4 mb-8 sm:mb-0">
                  <span class="block mt-5 text-sm font-medium text-gray-100">Address</span>
                </div>
                <div class="w-full sm:w-2/3 px-4">
                  <div class="max-w-xl">
                    <div class="flex flex-wrap -mx-4 -mb-10">
                      <div class="w-full md:w-1/2 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Country</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="formInput2-7" type="text" placeholder="United States"></div>
                      </div>
                      <div class="w-full md:w-1/2 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">City</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="formInput2-8" type="text" placeholder="New York"></div>
                      </div>
                      <div class="w-full md:w-1/2 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">State/Province</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="formInput2-7" type="text" placeholder="State"></div>
                      </div>
                      <div class="w-full md:w-1/2 px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Zip/Postal Code</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="formInput2-10" type="text" placeholder="550750" name=""></div>
                      </div>
                      <div class="w-full px-4 mb-10">
                        <div class="relative w-full h-14 py-4 px-3 border border-gray-400 hover:border-white focus-within:border-green-500 rounded-lg">
                          <span class="absolute bottom-full left-0 ml-3 -mb-1 transform translate-y-0.5 text-xs font-semibold text-gray-300 px-1 bg-gray-500">Street address</span>
                          <input class="block w-full outline-none bg-transparent text-gray-50 placeholder-gray-50 font-semibold" id="formInput2-11" type="text"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>
</body>
</html>

